/* --- Global Page Layout --- */
body {
    margin: 0;
    padding: 0;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    /* Prevent scrollbars */
    overflow: hidden;

    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


canvas {
    display: block;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
}


* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

